"*":
  "advanced-open-file": {}
  "atom-ctags": {}
  core:
    disabledPackages: [
      "symbols-view"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-light-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontSize: 12
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "6ca9c48b-7b7f-da28-698b-8f9eac91efac"
  "fuzzy-finder":
    ignoredNames: [
      ".*/*"
      "classes/*"
    ]
  "status-bar":
    isVisible: false
  "symbols-tree-view":
    autoHide: true
    autoToggle: true
    defaultWidth: 250
    scrollAnimation: false
  tabs:
    showIcons: false
  "tree-view": {}
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
